{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h3>
        My Cards
    </h3>
    
    <a href="{% url 'card-create' %}" class="btn btn-primary mb-3">
        Create New Card
    </a><br><br>

    <h5>Total Cards: {{ total_card_count }}</h5><br><br>

    {% for deck, deck_cards in grouped_cards.items %}
        <h4>{{ deck }}</h4>

        <div class="row">
            {% for card in deck_cards %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            {% include 'cards/card.html' with card=card %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% include 'pagination.html' %}
{% endblock %}
