

{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    {% if card %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ card.question }}</h5>
            <details>
                <summary class="btn btn-info">Show Answer</summary><br><br>
                <div>
                    <h6>Meaning: {{ card.answer }}</h6>
                </div>
                <div>
                    <p>Example: {{ card.example }}</p>
                </div>
            </details>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <div>
                    <button type="submit" name="solved" value="1" class="btn btn-success">✅ I know</button><br><br>
                </div>
                <div>
                    <button type="submit" name="solved" value="0" class="btn btn-danger">❌ I don't know</button>
                </div>            
            </form>
        </div>
    </div>
    {% else %}
    <p>No cards available for learning today!</p>
    {% endif %}
{% endblock %}