
{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    {% if card %}
        {% include 'cards/card.html' %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <div>
                    <button type="submit" name="solved" value="True" class="btn btn-success">✅ I know</button><br><br>
                </div>
                <div>
                    <button type="submit" name="solved" value="False" class="btn btn-danger">❌ I don't know</button>
                </div>            
            </form>

    {% else %}
    <p>Congratulations, You have finished all the words for today!</p>
    {% endif %}
{% endblock %}