

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <style>
        body{
            font-family: 'Rouge Script', cursive;
        }
       
    </style>
</head>
<body>
  <div class="container"> 
    <header>
        <h1>My FlashCard</h1>
        <nav>
            <a href="{% url 'card-list' %}">All Cards</a>
            <a href="{% url 'learning' %}">Continue Learning</a>
        </nav> 
    </header>
  

    <main>
        {% block content %}
            <h2><a href="">Continue learning: </a></h2>
        {% endblock %}
    </main>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>